*{
    background-color: #222222;
    margin: 0;
    color:#F3EFE0;
    font-family: 'Urbanist', sans-serif;
}
body{
    background-color: #222222;
    
}

.recent-head{
    padding-top: 12%;
    width: 60%;
    font-weight: bold;
    font-size: 55px;
    transition: transform .4s;
    text-align: center;
    margin-left: 35%;
}

.recent-p1{
    padding-top: 3%;
    width: 40%;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-left: 45%;
}

.spotify-login-button {
    display: inline-block;
    background-color: #000000;
    color: #1ED760;
    width: 15%;
    height: 30%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease, padding 0.3s ease, transform 0.3s ease; /* Add transform to the transition */
    font-weight: bold;
    font-family: 'Circular', sans-serif;
    padding: 30px 20px;
    margin-left: 58%;
    margin-top: 5%;
    position: relative; 
}

.spotify-login-button:hover {
    background-color: #131813;
    text-decoration: underline #1ED760;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 15px 20px 8px;
    transform: scale(1.2);
}